emulab-devel-new/emulab-devel/protogeni/rspec-geni/ext/user/1/manifest.rnc

# An extension for describing user login credentials in the manifest

default namespace = "http://www.protogeni.net/resources/rspec/ext/user/1"

# This is meant to extend the services element
Services = element services_user {
  attribute login { string } &
  attribute user_urn { string }? &
  element public_key { string }*
}

# Both of the above are start elements.
start = Services
